    {% extends 'main.html'%}
    {%block content%}
    <hr>
    
        <form action="" method="POST" >

            {%csrf_token%}

            <p align="center">Name:  <input type="text" name="name" placeholder="enter name"></p>
            <p align="center">Email: <input type="email" name="email" placeholder="enter email"></p>
            <p align="center">Contact: <input type="text" name="contact" placeholder="enter contact"></p>
            <p align="center">Address: <input type="text" name="address" placeholder="enter address"></p><br>
            <p align="center"><input type="submit" value="Create"></p>

        </form>
    
    <hr>

    {%endblock%}
    
