<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" method="POST">

        {%csrf_token%}

        <input type="text" name="name" placeholder="enter name"><br>
        <input type="email" name="email" placeholder="enter email"><br>
        <input type="text" name="contact" placeholder="enter contact"><br>
        <input type="text" name="address" placeholder="enter address"><br>
        <input type="submit" value="click here">

    </form>
    
</body>
</html>