{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <form action="login" method="POST" class="box">

        {%csrf_token%}
        <h1>Login</h1>

        <input type="text" name="username" placeholder="Enter username"><br>
        <input type="password" name="password" placeholder="Enter password"><br>
        <input type="submit" value="Login">
        <h5 style="color: white;"> don’t have any account? &nbsp; <a style="color:aqua; text-decoration: none" href="{% url 'register' %}">Sing up</a> </h5>

    </form>
    <div>
        {% for message in messages %}
        <h1>{{message}}</h1>
        {%endfor%}
    </div>
    
</body>
</html>
