<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <hr><h1 align='center' boder='1px' width='600px'>Landowner</h1><hr><br><br>
    <h3 align='right'> hi {{user.username}} &nbsp; &nbsp; <a href="logout">logout</a></h4>
    <a href="createland{{user.id}}">Create Landowner</a><br><br>
    <a href="showland{{user.id}}">Show Landowner list</a>
    

</body>
</html>