<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">

        {%csrf_token%}
        <input type="text" name="first_name" placeholder="enter first_name"><br>
        <input type="text" name="last_name" placeholder="enter last_name"><br>
        <input type="text" name="username" placeholder="enter username"><br>
        <input type="email" name="email" placeholder="enter email"><br>
        <input type="password" name="password1" placeholder="enter password"><br>
        <input type="password" name="password2" placeholder="confirm password"><br><br>
        <input type="submit" value="click here">

    </form>
    <div>
        {% for message in messages %}
        <h1>{{message}}</h1>
        {%endfor%}
    </div>
    
</body>
</html>