{% extends 'main.html'%}

{%block content %}


<div id="customers">
    <table width="100%">
        <caption style="margin-bottom: 6px;">
            <strong style="float:left";>Landowner List</strong>
            <strong style="float:right">
                <button style="background-color:teal; padding:5px">
                    <a style="text-decoration:none; color:whitesmoke" href="{% url 'createlandowner' %}">Create Landowner</a>
                </button>
            </strong>
        </caption>
        <tr>
            <th>Sl#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Created At</th>
            <th>Last Update</th>
            <th>Action</th>
        </tr>

        {%for x in owner%}
     <tr>
        <td>
            {{forloop.counter}}
        </td>
        <td>
            {{x.name}}
        </td>
        <td>
            {{x.email}}
        </td>
        <td>
            {{x.contact}} 
        </td>
        <td>
            {{x.address}}
        </td>
        <td>
            {{x.create}}
        </td>
        <td>
            {{x.update}}
        </td>
        <td>
            <button style="background-color:teal;">
                <a style="text-decoration:none; color:whitesmoke" href="landowner/edit/{{x.id}}">Edit</a>
            </button>
            <button style="background-color:red;">
                <a style="text-decoration:none; color:whitesmoke" href="landowner/delete/{{x.id}}">delete</a>
            </button>
        </td>

     </tr>
     {%endfor%}
        
      </table>
</div>

{%endblock%}

